In [2]:
# is there a gab in paid between males and females?
# the values in males sample reveal no info to female sample ,, so they are independant sample
# H0 : the avg male salary is equal to the avg female salary
# H1 : Not equal

In [3]:
import pandas as pd

In [4]:
df= pd.read_excel(r'D:/5_11_practical.xlsx')

In [5]:
df['Salary']=df['Salary'].fillna(df['Salary'].max())

In [6]:
df.head(6)

,Surname,Name,Age,Gender,Country,hispanic,Start_date,Department,Position,Salary,Unnamed: 10,Unnamed: 11
0,Bold,Caroline,63.0,Female,United States,White,2012-07-02,Executive Office,President & CEO,166400.0,NaN,NaN
1,Zamora,Jennifer,38.0,Female,United States,White,2010-04-10,IT/IS,CIO,135200.0,NaN,NaN
2,Houlihan,Debra,51.0,Female,United States,White,2014-05-05,Sales,Director of Sales,124800.0,NaN,NaN
3,Bramante,Elisa,34.0,Female,United States,Black or African American,2009-01-05,Production,Director of Operations,124800.0,NaN,1.0
4,Del Bosque,Keyla,38.0,Female,United States,Black or African American,2012-01-09,Software Engineering,Software Engineer,118809.6,NaN,1.0
5,Onque,Jasmine,27.0,Female,United States,White,2013-09-30,Sales,Area Sales Manager,118560.0,NaN,1.0

In [9]:
female = df.iloc[0:98, 9].values
male = df.iloc[98:, 9].values

In [10]:
#The Studentâ€™s t-test is a statistical hypothesis test that two independent data samples
#known to have a Gaussian distribution, have the same Gaussian distribution


import numpy as np
from numpy.random import seed
from numpy.random import randn
from scipy.stats import ttest_ind
# seed the random number generator
seed(1)

#two independent samples
# male ,, female
# compare samples
stat, p = ttest_ind(male, female)
print('Statistics=%.3f, p=%.3f' % (stat, p))
# interpret
alpha = 0.05
if p > alpha:
    print('Same distributions (fail to reject H0)')
else:
    print('Different distributions (reject H0)')

Statistics=1.869, p=0.063
Same distributions (fail to reject H0)

In [11]:
# Coudnt reject H0 ,, so the avg salaries are equal.
# There's no gab in salaries.